# dependencies
node_modules

# misc
.DS_Store

# debug
.pnpm-debug.log*

# env
.env*
!.env.example

# IDEs
.idea/
.vscode/

# SQL connection extension for VS Code
**.session.sql

# wrangler
.wrangler/
