name: Deploy API to staging

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  id-token: write
  contents: read
  pull-requests: write
  deployments: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1

  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
  USERS_DB_URL: ${{ secrets.USERS_DB_URL }}

  CLOUDFLARE_KV_NAMESPACE_ID: ${{ secrets.CLOUDFLARE_KV_NAMESPACE_ID }}
  CLOUDFLARE_DEFAULT_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_DEFAULT_ACCOUNT_ID }}
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  deploy_staging:
    if: ${{ !contains(github.event.*.labels.*.name, 'no deploy') }}
    runs-on: ubuntu-latest

    environment:
      name: staging-${{ github.event.pull_request.number }}
      url: https://anteater-api-staging-${{ github.event.pull_request.number }}.icssc.workers.dev

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prefer SST bundled Pulumi
        run: echo "$HOME/.config/sst/bin" >> $GITHUB_PATH

      - name: Deploy API to staging
        working-directory: ./apps/key-manager
        run: pnpm exec sst deploy --stage production
