# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: Deploy API and ETL pipeline to production

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  pull-requests: write
  deployments: write
  repository-projects: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1

  AUTH_GOOGLE_ID: ${{ secrets.AUTH_GOOGLE_ID }}
  AUTH_GOOGLE_SECRET: ${{ secrets.AUTH_GOOGLE_SECRET }}

  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  USERS_DB_URL: ${{ secrets.USERS_DB_URL }}

  CLOUDFLARE_KV_NAMESPACE_ID: ${{ secrets.CLOUDFLARE_KV_NAMESPACE_ID }}
  CLOUDFLARE_DEFAULT_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_DEFAULT_ACCOUNT_ID }}
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  DB_URL: ${{ secrets.DB_URL }}

  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  deploy_prod:
    name: Deploy API to production

    runs-on: ubuntu-latest

    environment:
      name: production
      url: https://anteaterapi.com

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check types
        run: pnpm check:types

      - name: Run database migrations
        working-directory: ./packages/db
        run: pnpm run migrate

      - name: Deploy API to production
        working-directory: ./apps/api
        run: pnpm run deploy --route anteaterapi.com/*

      - name: Deploy ETL pipeline to production
        run: pnpm --filter "./apps/data-pipeline/**" run deploy

      - name: Prefer SST bundled Pulumi
        run: echo "$HOME/.config/sst/bin" >> $GITHUB_PATH

      - name: Deploy Key Manager/Dashboard if present
        run: pnpm --filter "./apps/key-manager/**" run deploy
