# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: Deploy API to staging

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  id-token: write
  contents: read
  pull-requests: write
  deployments: write
  repository-projects: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
  USERS_DB_URL: ${{ secrets.USERS_DB_URL }}
  CLOUDFLARE_KV_NAMESPACE_ID: ${{ secrets.CLOUDFLARE_KV_NAMESPACE_ID }}
  CLOUDFLARE_DEFAULT_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_DEFAULT_ACCOUNT_ID }}

  SST_DEBUG: "*"
  PULUMI_LOG_LEVEL: "DEBUG"
  PULUMI_DEBUG_COMMANDS: "true"

jobs:
  deploy_staging:
    name: Deploy API to staging
    if: ${{ ! contains(github.event.*.labels.*.name, 'no deploy') }}

    runs-on: ubuntu-latest

    environment:
      name: staging-${{ github.event.pull_request.number }}
      url: https://anteater-api-staging-${{ github.event.pull_request.number }}.icssc.workers.dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      #      - name: Check types
      #        run: pnpm check:types

      #      - name: Deploy API to staging
      #        working-directory: ./apps/api
      #        run: pnpm run deploy --name=anteater-api-staging-${{ github.event.pull_request.number }}

      - name: Refresh SST
        working-directory: ./apps/key-manager
        run: pnpm exec sst refresh --stage production --verbose --print-logs 2>&1 | tee sst-refresh.log

      - name: Deploy Key Manager
        working-directory: ./apps/key-manager
        run: pnpm exec sst deploy --stage production --verbose --print-logs 2>&1 | tee sst-deploy.log

      - name: upload sst deploy log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sst-deploy-log
          path: apps/key-manager/sst-deploy.log
